<!doctype html>

<html>
<head>
<% include ../partials/head.ejs %>
</head>
<body>
<% include ../partials/nav.ejs %>

<h2>Export Three.js or A-Frame From Unity Scene.</h2>

<h3>Unity3D Scene</h3>
<img class="pure-img" src="./documents/unity-origin.png"/>

<h3>Exported Three.js Scene<h3>
<img class="pure-img" src="./documents/threejs-exported.png"/>

<% include ../partials/samples.ejs %>

<h2>
    <a class="anchor-no-decoration" href="//github.com/5minlab/unity-scene-web-exporter">
        How To Use / Documents
    </a>
</h2>

<% include ../partials/footer.ejs %>
</body>
</html>