<!doctype html>

<html>
<head>
<% include ../partials/head.ejs %>
</head>
<body>
<% include ../partials/nav.ejs %>

<h2>Export Three.js or A-Frame From Unity Scene.</h2>

<h3>Unity3D Scene</h3>
<img class="pure-img" src="./documents/sample-scene-unity.png"/>

<h3>Exported to Three.js<h3>
<img class="pure-img" src="./documents/sample-scene-threejs.png"/>

<h3>Exported to AFrame<h3>
<img class="pure-img" src="./documents/sample-scene-aframe.png"/>

<% include ../partials/samples.ejs %>

<h2>
    <a class="anchor-no-decoration" href="//github.com/if1live/unity-scene-web-exporter">
        How To Use / Documents
    </a>
</h2>

<% include ../partials/footer.ejs %>
</body>
</html>